/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
	yui.yahooapis.com/2.8.1/build/base/base.css
	camendesign.com/design/
	praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
	display:block;
}

ul { list-style:none; margin: 0; padding: 0; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/* 
 * minimal base styles 
 */


body { 
  color: #4b4b4d;
  background: #f2f2f2 url(../images/background.png) center top no-repeat;
  /* #4b4b4d is indiebikes base black
  /* set your base font here, to apply evenly */
  /* normally, typekit will handle this, but this is another fallback */
  font-family: "museo-sans-1","museo-sans-2", "Helvetica", "Verdana", "Lucida Grande", "Arial", sans-serif;
  /* font-family: Georgia, serif;  */   
}

select, input, textarea {
  font-family: "inconsolata-1","inconsolata-2", Menlo, "Courier New", Courier, Mono, monospace;
  font-size: 15px;
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #9c9e9f; }
a:hover { color: #036; }


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
	  border-radius: 1px;
	-moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
		 box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: yellow. */
::-moz-selection{ background: #00a6e0; color:#fff; text-shadow: none; }
::selection { background:#00a6e0; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #00a6e0; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.safix { zoom: 1; }






/*
	###############################
	###############################
	###############################

	########  ########  #### ##     ##    ###    ########  ##    ## 
	##     ## ##     ##  ##  ###   ###   ## ##   ##     ##  ##  ##  
	##     ## ##     ##  ##  #### ####  ##   ##  ##     ##   ####   
	########  ########   ##  ## ### ## ##     ## ########     ##    
	##        ##   ##    ##  ##     ## ######### ##   ##      ##    
	##        ##    ##   ##  ##     ## ##     ## ##    ##     ##    
	##        ##     ## #### ##     ## ##     ## ##     ##    ##    

————Primary Styles
	Author: Johannes Henseler
	
————indiebikes stylesheet v0.2
	###############################
	###############################
	###############################
	http://www.network-science.de/ascii/
	[banner3]
*/

DIV {
/*  for debug */
 	/*outline: 1px solid lime;*/
}

 
HEADER {
	background: transparent url(../images/header_ontop.png) center top no-repeat;
	height: 125px;
	position: relative;
	z-index: 1000;
}

#main {
	margin-top: -14px;
	padding-bottom: 100px;
	margin-bottom: -60px;
	background: white;
}


/*
css styles for sticky footer
http://www.endigodesign.com/2010/07/html5-sticky-footer/ 
*/
html, body { height: 100%; }
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -180px; /* Set footer height. */
}
footer, .push {
	height: 180px; /* Set footer height. */
	/* clear: both; */ /* Muti-column fix.*/
}

FOOTER {
	background: transparent url(../images/footer_background.png) center top no-repeat;
/*	padding-top: 55px; */
	color: #9c9e9f;
	font-size: 11px;
/*	margin-top: -40px;*/
}

FOOTER > DIV {
	padding-top: 55px;
}

FOOTER P {
	padding: 0;
/*	margin-bottom: 5px;*/
}

#footer_logo {
	margin-bottom: 20px;
}

.spaceafter {
	margin-bottom: 20px;
}

.spacebefore {
	margin-top: 20px;
}

.spaceinside {
	padding-top: 10px;
	padding-bottom: 10px;
}

.spacepadding {
	padding: 10px;
}

.nospaceafter {
	margin-bottom: 0;
	padding: 0;
}

.sumpriceend {
	font-weight: bold;
}
 
 

/*
					  ##          ##     #####   ##    ## 
					  ##        ####    ##   ##  ###   ## 
					  ##          ##   ##     ## ####  ## 
					  ##          ##   ##     ## ## ## ## 
					  ##          ##   ##     ## ##  #### 
					  ##          ##    ##   ##  ##   ### 
					  ########  ######   #####   ##    ## 
*/
#l10n_bookmarks {
	margin-bottom: 20px;
}

#l10n_bookmarks UL {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#l10n_bookmarks UL LI {
	display: inline;
	float: right;
}

.l10n_lang_list SPAN {
	display: block;
	float: right;
	width: 21px;
	height: 15px;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-left: 5px;
	background: url(../images/language_bookmarks.png) bottom right no-repeat;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 10px;
	position: relative;
	top: -10px;
}

.l10n_lang_list A {
	color: white;
	text-decoration: none;
}


.l10n_lang_list SPAN:HOVER, .l10n_lang_list LI.l10n_current SPAN {
	background-position: bottom left;
}




/*
   ######     ###    ########   #######  ##     ##  ######  ######## ##       
  ##    ##   ## ##   ##     ## ##     ## ##     ## ##    ## ##       ##       
  ##        ##   ##  ##     ## ##     ## ##     ## ##       ##       ##       
  ##       ##     ## ########  ##     ## ##     ##  ######  ######   ##       
  ##       ######### ##   ##   ##     ## ##     ##       ## ##       ##       
  ##    ## ##     ## ##    ##  ##     ## ##     ## ##    ## ##       ##       
   ######  ##     ## ##     ##  #######   #######   ######  ######## ######## 
*/
/* inline styles applied to not break layout when css is not fully loaded */
#frontpage_carousel {
	width: 960px;
	height: 435px;
	overflow: hidden;
	margin-bottom: 20px;
}

.carousel-wrap {
	width: 960px;
	overflow: hidden;
	display: inline-block;
}

.carousel-wrap UL {
	outline: 1px solid red;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 0;
}

.carousel-wrap UL LI {
	float: left;
	display: inline;
	width: 960px;
	height: 435px;
}

.carousel-control {
	position: absolute;
	z-index: 1;

	padding: 0;
	margin: 0;
	border: 0;
	text-indent: -999px;
	width: 60px;
	color: white;
	height: 435px;
}

.carousel-control:HOVER {
	background-color: rgba(0,0,0,0.2);
}

.carousel-previous {
	background: transparent url("../images/btn_prev.png") 10px 50% no-repeat;
}

.carousel-next {
	background: transparent url("../images/btn_next.png") 13px 50% no-repeat;
	margin-left: -60px;
}



/* 
			######## ########    ###     ######  ######## ########  
			   ##    ##         ## ##   ##    ## ##       ##     ## 
			   ##    ##        ##   ##  ##       ##       ##     ## 
			   ##    ######   ##     ##  ######  ######   ########  
			   ##    ##       #########       ## ##       ##   ##   
			   ##    ##       ##     ## ##    ## ##       ##    ##  
			   ##    ######## ##     ##  ######  ######## ##     ##
*/
#box_teaser a {
	display: block;
	width: 220px;
	height: 160px;
	text-decoration: none;
	color: white;
}

#box_teaser a:HOVER {
	text-decoration: none;
	color: white;
}

#box_teaser h3 {
	padding: 10px 0 0 5px;
	font-size: 26px;
	font-weight: 500;
}

/* apply with lettering.js */
#box_teaser H3 SPAN {
	display: inline-block;
	background: #4b4b4d;
	padding: 0px 10px 0px 8px;
	margin: 2px 10px 0 2px;
	clear: right;
}


#box_teaser div {
	margin-bottom: 20px;
}

A#teaser_order {
	background: #00a5db url(../images/teaser_order.png) 0 0 no-repeat;
}
A#teaser_teile {
	outline: 1px solid #4b4b4d;
	background: white url(../images/teaser_teile.png) 0 0 no-repeat;
}
A#teaser_galerie {
	background: white url(../images/teaser_galerie.png) center no-repeat;
}
A#teaser_faq {
	outline: 1px solid #4b4b4d;
	background: white url(../images/teaser_faq.png) 0px 25px no-repeat;
}
A#teaser_indiebikes {
	background: #eac900 url(../images/teaser_indiebikes.png) 107px 107px no-repeat;
}

#box_blog {
	margin-bottom: 20px;
}



/* 
					 ##     ## ######## ##    ## ##     ## 
					 ###   ### ##       ###   ## ##     ## 
					 #### #### ##       ####  ## ##     ## 
					 ## ### ## ######   ## ## ## ##     ## 
					 ##     ## ##       ##  #### ##     ## 
					 ##     ## ##       ##   ### ##     ## 
					 ##     ## ######## ##    ##  #######  
*/

#menu {
	overflow: visible;
	position: relative;
	z-index: 1000;
}

#oc #menu {
	position: static;
	z-index: 0;
}

#menu UL {
	margin-top: 20px;
}

#menu A {
	text-decoration: none;
	display: block;
	padding: 0;
	margin: 0;
	color: #9b9c9e;
	padding: 5px 5px 5px 5px;
}

#menu LI {
	border-bottom: 1px dotted gray;
	padding-top: 10px;
	padding-bottom: 10px;
}

#menu A:HOVER, #menu A:ACTIVE, #menu A.active {
	color: #4c4c4e;
}

#menu A.active {
	background: transparent url(../images/menu_active.png) top left no-repeat;
	color: white;
	height: 60px;
	padding-left: 31px;
	margin-left: -27px;
	margin-right: -36px;
	margin-bottom: -10px;
}

#menu A.bigflap {
	background: transparent url(../images/menu_active_big.png) top left no-repeat;
	height: 83px;
	margin-right: -50px;
}

#menu A SPAN {
	display: block;
}

#menu A SPAN.menupunkt {
	margin-right: -15px;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}




/*
		 ######   #######  ##    ## ######## ######## ##    ## ######## 
		##    ## ##     ## ###   ##    ##    ##       ###   ##    ##    
		##       ##     ## ####  ##    ##    ##       ####  ##    ##    
		##       ##     ## ## ## ##    ##    ######   ## ## ##    ##    
		##       ##     ## ##  ####    ##    ##       ##  ####    ##    
		##    ## ##     ## ##   ###    ##    ##       ##   ###    ##    
		 ######   #######  ##    ##    ##    ######## ##    ##    ##  
*/

#header_image {
	margin-bottom: 20px;
	min-height: 10px;
}

#breadcrumb {
	margin-top: 10px;
	margin-bottom: 25px;
}

#title {
	padding-bottom: 10px;
	border-bottom: 1px solid #9b9c9e;
}

.body {

}

/* display date of blog post */
.daytum {
	padding-top: 5px;
	padding-bottom: 5px;
}
.daytum SPAN {
	display: block;
	text-align: center;
}
.daytum .day {
	font-weight: 700;
	font-size: 28px;
}
.daytum .month {
	font-style: italic;
}


/*
	##     ## ########    ###    ########  ##       #### ##    ## ######## 
	##     ## ##         ## ##   ##     ## ##        ##  ###   ## ##       
	##     ## ##        ##   ##  ##     ## ##        ##  ####  ## ##       
	######### ######   ##     ## ##     ## ##        ##  ## ## ## ######   
	##     ## ##       ######### ##     ## ##        ##  ##  #### ##       
	##     ## ##       ##     ## ##     ## ##        ##  ##   ### ##       
	##     ## ######## ##     ## ########  ######## #### ##    ## ######## 
*/

header H1 {
	width: 241px;
	height: 45px;
	background-image: url(../images/indiebikes-logo.png);
}

header H2 {
	width: 320px;
	height: 45px;
	background-image: url(../images/indiebikes-slogan.png);
}

H3 {
	font-size: 45px;
	padding: 0 0 5px 3px;
	font-weight: 500;
}


H4 {
	font-size: 16px;
	font-weight: 500;
	color: white;
	background: transparent url(../images/h4_background.png) left top no-repeat;
	height: 29px;
	margin-top: 20px;
	margin-left: -8px;
	margin-bottom: -8px;
	padding: 2px 5px 1px 13px;
}

H4 a.more {
	float: right;
	display: inline-block;
	color: white;
	line-height: 24px;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	padding: 0 12px 0 6px;
	border-left: 2px solid white;
	margin-top: -2px;
	margin-bottom: -2px;
	background: url(../images/btn_next_small.png) center right no-repeat;
}

H4 + DIV {
	background: red;
	background: #e4e4e4;
	margin-bottom: 20px;
}

/* disable margin top for first h4 in body-div */
H4:first-child {
	margin-top: 0;
}

/* enable light headline with no surrounding boxing */
H4.light {
	background: #4c4c4e;
	padding: 2px 5px 2px 5px;
	height: inherit;
	margin-bottom: 0px;
}


.comments {
	margin-left: 80px;
}




/*
					 ######## ######## ##     ## ######## 
						##    ##        ##   ##     ##    
						##    ##         ## ##      ##    
						##    ######      ###       ##    
						##    ##         ## ##      ##    
						##    ##        ##   ##     ##    
						##    ######## ##     ##    ##    
*/
 
P {
	padding: 5px;
}

.hint {
	color: #9c9e9f;
}

.big {
	font-size: 16px;
}

H4 A, H4 A:HOVER, H4 A:VISITED {
	text-decoration: none;
	color: white;
}

FOOTER A, FOOTER A:VISITED {
	color: white;
	text-decoration: none;
}
footer A:HOVER {
	color: white;
	text-decoration: underline;
}

INPUT {
	padding: 3px;
	border-width: 1px;
}

.plainlinks {
	padding-top: 5px;
	padding-bottom: 5px;
}

.plainlinks A {
	text-decoration: none;
	color: #4d4d4f;
}

.plainlinks A:HOVER {
	text-decoration: underline;
}

.plainlinks P {
	padding-bottom: 0;
	padding-top: 0;
}

#txp .body TABLE {
	margin: 5px;
}

#txp .body TABLE TH {
	padding-bottom: 2px;
	padding-right: 20px;
	border-bottom: 1px solid gray;
	text-align: left;
}

#txp .body TABLE TD {
	padding-right: 10px;
}

.pricetag {
/*	font-family: "bello-pro-1","bello-pro-2","cursive; font-size: 1.041em;";*/
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	color: #88b340;
	line-height: 40px;
	margin-bottom: 5px;
}
.pricetag .char2 { letter-spacing: -2px }
.pricetag .char3 { letter-spacing: -0px }
.pricetag .char4 { letter-spacing: -12px }
.pricetag .char6 { letter-spacing: -12px }

#add_bike_to_opencart {
	width: 100%;
	font-weight: bold;
	height: 55px;
	font-size: 16px;
	background: #88b340 url(../images/ui-highlight-green.png) 50% 50% repeat-x;
	color: white;
}

.ui-state-error {
	padding: 4px;	
}

/*

   #######  ########  ######## ##    ##  ######     ###    ########  ######## 
  ##     ## ##     ## ##       ###   ## ##    ##   ## ##   ##     ##    ##    
  ##     ## ##     ## ##       ####  ## ##        ##   ##  ##     ##    ##    
  ##     ## ########  ######   ## ## ## ##       ##     ## ########     ##    
  ##     ## ##        ##       ##  #### ##       ######### ##   ##      ##    
  ##     ## ##        ##       ##   ### ##    ## ##     ## ##    ##     ##    
   #######  ##        ######## ##    ##  ######  ##     ## ##     ##    ##    
*/

.summe {
	width: 100%;
	text-align: right;
	font-size: 16px;
}

.required {
	font-weight: bold;
}

#order-breadcrumb {
	margin-bottom: 10px;
}

#order-breadcrumb .steps {
	width: 300px;
	height: 4px;
	overflow: hidden;
	background-image: url(../images/steps.png);
	background-repeat: no-repeat;
}

.step1 { background-position: 0 0; }
.step2 { background-position: 0 -4px; }
.step3 { background-position: 0 -8px; }
.step4 { background-position: 0 -12px; }

#shipping-buttons INPUT:first-child + LABEL {
	margin-right: 10px;
}

#shipping-buttons LABEL {
	width: 210px;
	height: 100px;
	overflow: hidden;
	text-align: left;
}

#shipping-buttons LABEL SPAN {
	display: block;
}

#shipping-buttons .ship_title {
	font-size: 18px;
	font-weight: bold;
}

#shipping-buttons .ship_cost {
	font-size: 22px;
	font-weight: bold;
	text-align: right;
	line-height: 64px;
}

#ship_item_label .ships_cost {
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
}

#ship_free + LABEL.ui-state-active {
	background: #00a6e0;
	border-color: #00a6e0;
}

#ship_flat + LABEL.ui-state-seel {
	background: #12a34f;
	border-color: #12a34f;
}

#payment-buttons LABEL {
	min-width: 210px;
}
#payment-buttons INPUT:first-child + LABEL { margin-right: 10px; }




/*
        ######      ###    ##       ##       ######## ########  ##    ## 
       ##    ##    ## ##   ##       ##       ##       ##     ##  ##  ##  
       ##         ##   ##  ##       ##       ##       ##     ##   ####   
       ##   #### ##     ## ##       ##       ######   ########     ##    
       ##    ##  ######### ##       ##       ##       ##   ##      ##    
       ##    ##  ##     ## ##       ##       ##       ##    ##     ##    
        ######   ##     ## ######## ######## ######## ##     ##    ##    
*/

#gallery-container {
	margin-right: -5px;
}

#gallery-container A {
	display: block;
	margin-right: 10px;
	margin-bottom: 5px;
	float: right;
}


/*
        ########  ##     ## #### ##       ########  ######## ########  
        ##     ## ##     ##  ##  ##       ##     ## ##       ##     ## 
        ##     ## ##     ##  ##  ##       ##     ## ##       ##     ## 
        ########  ##     ##  ##  ##       ##     ## ######   ########  
        ##     ## ##     ##  ##  ##       ##     ## ##       ##   ##   
        ##     ## ##     ##  ##  ##       ##     ## ##       ##    ##  
        ########   #######  #### ######## ########  ######## ##     ## 
*/


/* builder-image */

#builder_image {
	height: 480px;
	margin-bottom: 20px;
	margin-top: -32px;
}

#builder_image IMG {
	display: block;
	position: absolute;
}

.builder-part {
	display: none;
}

/* preloader */

#preloadsummary {
	width: 790px;
	height: 1024px;
	margin-left: -10px;
	background: white;
	background: rgba(255,255,255,0.8);
	position: absolute;
	z-index: 900;
}

#preloadsummary #preload_state {
	width: 280px;
	margin-left: 250px;
	margin-top: 170px;

}

#preload_image {
	height: 60px;
}

#preload_progressbar {
	height: 10px;
}

/* HUD */

#hud {
	position: absolute;
	z-index: 300;
	margin-left: 715px;
	margin-top: 35px;
	width: 65px;
	overflow: hidden;
}

#hud DIV {
	cursor: pointer;
	background: #00a5db;
	margin-bottom: 5px;
	height: 20px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-indent: 20px;
	margin-left: 45px;
	line-height: 20px;
	color: white;
	background-position: 3px center;
	background-repeat: no-repeat;
}

#hud DIV:HOVER {
	margin-left: 0;
}

#hud .save { background-image: url(../images/icons/arrow1_s.png); }
#hud .shuffle { background-image: url(../images/icons/heart.gif); }
#hud .undo { display: none; background-image: url(../images/icons/arrow2_nw.gif); }
#hud .add { background-color: #12a34f; background-image: url(../images/icons/add.gif); }


/* buttonsets */

.builder_button_group {
	padding-top: 5px;
}

.builder_button_group DIV {
	line-height: 16px;
}

.builder_button_group DIV:first-child {
	text-align: right;
}


.builder_buttonset {
}

#radio-fr LABEL {
}

.builder_colors LABEL {
	text-indent: -999px;
	overflow: hidden;
	width: 18px;
	height: 18px;
	border-width: 2px;
}

/* coloring buttons */
.color_wasabi { background: #99ca3d; border: 2px solid #99ca3d; }
.color_white { background: #f7ffff; border: 2px solid #f7ffff }
.color_black { background: #1a1819; border: 2px solid #1a1819 }
.color_skyan { background: #91bfca; border: 2px solid #91bfca }
.color_blue { background: #005ba1; border: 2px solid #005ba1 }
.color_gold { background: #f0c540; border: 2px solid #f0c540 }
.color_silver { background: #b6b9b4; border: 2px solid #b6b9b4 }
.color_chrome { background: #b6b9b4; border: 2px solid #b6b9b4 }
.color_brown { background: #613512; border: 2px solid #613512 }
.color_yellow { background: #fccd00; border: 2px solid #fccd00 }
.color_red { background: #e61a24; border: 2px solid #e61a24 }

.builder_button_group .ui-state-active {
	border: 2px solid gray;
/*	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);	
*/}


/* sharing & yourls */

#shared_info { display: none; }
#shared_load { display: none; }





/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
	 j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}