/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  color: #4b4b4d;
  background: #f2f2f2 url(../images/background.png) center top no-repeat;
  /* #4b4b4d is indiebikes base black
  /* set your base font here, to apply evenly */
  /* normally, typekit will handle this, but this is another fallback */
  font-family: "museo-sans-1","museo-sans-2", "Helvetica", "Verdana", "Lucida Grande", "Arial", sans-serif;
  /* font-family: Georgia, serif;  */   
}

select, input, textarea {
  font-family: "inconsolata-1","inconsolata-2", Menlo, Courier New, Courier, Mono, monospace;
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #9c9e9f; }
a:hover { color: #036; }


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: yellow. */
::-moz-selection{ background: #00a6e0; color:#fff; text-shadow: none; }
::selection { background:#00a6e0; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #00a6e0; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }






 /* Primary Styles
    Author: Johannes Henseler
	
	indiebikes stylesheet v0.1
 */

 DIV {
/* 	outline: 1px solid lime; */
}

 
 header {
	background: transparent url(../images/header_ontop.png) center top no-repeat;
	height: 125px;
	position: relative;
}

#main {
	margin-top: -14px;
	margin-bottom: 40px;
}

#start_carousel {
	margin-bottom: 20px;
}

footer {
	background: transparent url(../images/footer_background.png) center top no-repeat;
	padding-top: 55px;
	color: #9c9e9f;
	font-size: 11px;
}

footer > DIV {
	padding-bottom: 40px;
}

#footer_logo {
	margin-bottom: 20px;
}
 
 


/* language picker */
#l10n_bookmarks {
	margin-bottom: 20px;
}

#l10n_bookmarks A {
	display: block;
	float: right;
	width: 21px;
	height: 15px;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-left: 5px;
	background: url(../images/language_bookmarks.png) bottom right no-repeat;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 10px;
	position: relative;
	top: -10px;
}
#l10n_bookmarks A:HOVER, #l10n_bookmarks A.active {
	background-position: bottom left;
}

#l10n_bookmarks A:HOVER {
}


h1 {
	width: 241px;
	height: 45px;
	background-image: url(../images/indiebikes-logo.png);
}

h2 {
	width: 320px;
	height: 45px;
	background-image: url(../images/indiebikes-slogan.png);
}



/* teasers on frontpage */
#box_teaser {
	
}

#box_teaser A {
	display: block;
	width: 220px;
	height: 160px;
	text-decoration: none;
	color: white;
}

#box_teaser A:HOVER {
	text-decoration: none;
	color: white;
}

#box_teaser H3 {
	padding: 10px 0 0 5px;
}

#box_teaser DIV {
	margin-bottom: 20px;
}

A#teaser_order {
	background: #00a5db url(../images/teaser_order.png) 0 0 no-repeat;
}
A#teaser_teile {
	outline: 1px solid #4b4b4d;
	background: white url(../images/teaser_teile.png) 0 0 no-repeat;
}
A#teaser_galerie {
	background: white url(../images/teaser_galerie.png) center no-repeat;
}
A#teaser_indiebikes {
	background: #efcc00;
}
A#teaser_indiebikes:HOVER {
	background: url(../images/teaser_indiebikes.png) center no-repeat;
}

#box_blog {
	margin-bottom: 20px;
}


/* text styles */
 
P {
	padding: 5px;
}

.hint {
	color: #9c9e9f;
}


/* HEADLINES */

h3 {
	font-size: 26px;
	font-weight: 500;
}

/* apply with lettering.js */
h3 span {
	display: inline-block;
	background: #4b4b4d;
	padding: 0px 10px 0px 8px;
	margin: 2px 0 0 2px;
}

h4 {
	font-size: 19px;
	font-weight: 500;
	background: #4b4b4d;
	color: white;
	padding: 1px 5px 1px 0px;
	height: 22px;
	overflow: hidden;
}
.insetwrapper {
	padding-left: 11px;
	height: 29px;
	background: url(../images/h4_inset.png) left top no-repeat;
	margin-left: -9px;
}
.inset_underlay {
	background: #f2f2f2;
}





/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

